{% extends "network/layout.html" %}
{% load static %}
{% block body %}

  <div class="container h-100 d-flex">
    <div class="card my-auto fullw">
      <div class="card-header my-auto text-center">
        <h1>Το προφίλ του χρήστη - {{ profile_user }}</h1>
      </div>
      
  <div class="container d-flex">
    <div class="card my-auto fullw">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs pull-right tabs-menu"  id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">My posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="likes-tab" data-toggle="tab" href="#likes" role="tab" aria-controls="likes" aria-selected="false">My likes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="follows-tab" data-toggle="tab" href="#follows" role="tab" aria-controls="follows" aria-selected="false">My follows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers" aria-selected="false">My followers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="comments-tab" data-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">My comments</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
            <div class="container">
              Posts you have made
              {% for p in posts %}
                <div class="card" style="padding-bottom: 1.5rem;">
                  <div class="card-body">
                    <div class="gallery text-center">
                      <a href='/posts/{{ p.id }}'>View post <br></a>
                      {{ p.body }}
                    </div>
                    <div class="card-text" style="padding-top: 1rem;">
                      <div class="text center">
                        {{ p.timestamp_created }}
                      </div>
                    </div>
                  </div>
                </div>
              {% empty %}
                <div class="card" style="padding-bottom: 1.5rem;">
                  <div class="card-body">
                    <div class="gallery text-center">
                      No posts have been made
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>


          <div class="tab-pane fade" id="likes" role="tabpanel" aria-labelledby="likes-tab">
            <div class="container">
              Posts you have liked
              {% for l in likes %}
              <div class="card" style="padding-bottom: 1.5rem;">
                <div class="card-body">
                  <div class="gallery text-center">
                  <a href='/posts/{{ l.post.id }}'>View post <br></a>
                      {{ l.post.body }}                    
                  </div>
                </div>
              </div>
              {% empty %}
                <div class="card" style="padding-bottom: 1.5rem;">
                  <div class="card-body">
                    <div class="gallery text-center">
                      You haven't liked any post yet.                 
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>




          <div class="tab-pane fade" id="answers" role="tabpanel" aria-labelledby="answers-tab">
            <div class="container">
              {% for ans in answers %}
              <div class="card" style="padding-bottom: 1.5rem;">
                <div class="card-body">
                  <div class="gallery text-center">
                    <a href='/product/?productId={{ ans.question.registration.id }}'>
                      {% if ans.question.registration.image_url != '' %}
                        {% load static %}
                        <td class="image"><img style="width: 30%;" src="{% static '' %}{{ ans.question.registration.image_url }}"></td>
                      {% else %}
                        <td class="image"><img style="width: 30%;" src="https://vignette.wikia.nocookie.net/feud8622/images/7/75/No_image_available.png/revision/latest?cb=20170116005915"></td>
                      {% endif %}
                    </a>
                  </div>
                  <div class="card-text" style="padding-top: 1rem;">
                    <div class="text center">
                      Q: {{ ans.question.question_text }}
                      <p><b>A: {{ ans.answer_text }} </b></p>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="tab-pane fade" id="favorites" role="tabpanel" aria-labelledby="favorite-tab">
            <div class="container">
              {% for fav in favorites %}
              <div class="card" style="padding-bottom: 1.5rem;">
                <div class="card-body">
                  <div class="gallery text-center">
                    <a href='/product/?productId={{ fav.registration.id }}'>
                      {% if fav.registration.image_url != '' %}
                        {% load static %}
                        <td class="image"><img style="width: 30%;" src="{% static '' %}{{ fav.registration.image_url }}"></td>
                      {% else %}
                        <td class="image"><img style="width: 30%;" src="https://vignette.wikia.nocookie.net/feud8622/images/7/75/No_image_available.png/revision/latest?cb=20170116005915"></td>
                      {% endif %}
                    </a>
                  </div>
                  <div class="card-text" style="padding-top: 1rem;">
                    <div class="text center">
                      {{ fav.registration.product_description}}
                    </div>
                  </div>
                      <a class="text-center" href="/removeFavorite/?favId={{ fav.id }}"><i class="fas fa-trash-alt"></i> &nbsp; Κατάργηση από τα αγαπημένα</button>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          <div class="tab-pane fade" id="prices" role="tabpanel" aria-labelledby="prices-tab">
            <div class="container">
              {% for price in prices %}
              <div class="card" style="padding-bottom: 1.5rem;">
                <div class="card-body">
                  <div class="gallery text-center">
                    <a href='/product/?productId={{ price.registration.id }}'>
                      {% if price.registration.image_url != '' %}
                        {% load static %}
                        <td class="image"><img style="width: 30%;" src="{% static '' %}{{ price.registration.image_url }}"></td>
                      {% else %}
                        <td class="image"><img style="width: 30%;" src="https://vignette.wikia.nocookie.net/feud8622/images/7/75/No_image_available.png/revision/latest?cb=20170116005915"></td>
                      {% endif %}
                    </a>
                  </div>
                  <div class="card-text" style="padding-top: 1rem;">
                    <div class="text center">
                      Τιμή: {{ price.price }} &euro;
                    </div>
                  </div>
                      <a class="text-center" href="/updateprice/?priceId={{ price.id }}"><i class="fas fa-pencil"></i>Επεξεργασία Τιμής</button>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>

{% endblock %}